In [90]:
import numpy as np
import pandas as pd

In [91]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [92]:
df = pd.read_csv('covid_toy.csv')
df.head()  # age is a numerical col, gender , city is a nominal categorical col and cough, fever is ordinal

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [93]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [94]:
df.isnull().sum() # there are 10 null vals in fever col. so apply simple imputer

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [95]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:5],df['has_covid'],test_size=0.2)

1. Aaam Zindagi

In [96]:
# adding simple imputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever = si.fit_transform(x_test[['fever']])
x_train_fever.shape , x_test_fever.shape

((80, 1), (20, 1))

In [97]:
# Ordinal Encoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']],dtype=np.int32)
x_train_cough = oe.fit_transform(x_train[['cough']])

# also for the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape,x_test_cough.shape

((80, 1), (20, 1))

In [98]:
#  OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first', sparse=False, dtype=np.int32)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']]) 
#  also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape, x_test_gender_city.shape

C:\Users\Atharva\ANACONDAS\envs\myenv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Atharva\ANACONDAS\envs\myenv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

((80, 4), (20, 4))

In [99]:
# Extracting Age
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
x_test_age = x_train.drop(columns=['gender','fever','cough','city']).values

In [100]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [101]:
x_train_transformed

array([[ 25.   ,  99.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 26.   ,  98.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 83.   ,  98.   ,   1.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 49.   ,  99.   ,   0.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 27.   , 100.   ,   1.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 27.   , 100.   ,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 49.   , 101.   ,   0.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 40.   ,  98.   ,   0.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 82.   , 100.625,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 31.   ,  98.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 75.   , 100.625,   0.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 10.   ,  98.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 15.   , 101.   ,   1.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [  5.   , 100.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 16.   , 103.   ,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 20.   , 100.625,   0.   ,   0.   ,   0.   ,   1.   ,   1.   ],
       [ 64.   ,  98.   ,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 12.   ,  98.   ,   1.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 55.   , 100.   ,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 22.   ,  99.   ,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 19.   , 100.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 66.   ,  99.   ,   1.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 42.   , 100.625,   0.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 54.   , 104.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 71.   ,  98.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 34.   ,  98.   ,   1.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 16.   , 104.   ,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 68.   , 101.   ,   0.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 23.   , 100.625,   1.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 49.   , 102.   ,   0.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 73.   , 103.   ,   0.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 84.   , 100.625,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 83.   , 103.   ,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 81.   , 101.   ,   0.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 81.   ,  98.   ,   0.   ,   0.   ,   0.   ,   1.   ,   1.   ],
       [ 46.   , 103.   ,   1.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 47.   , 100.   ,   0.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [  6.   , 104.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 33.   , 102.   ,   0.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 80.   ,  98.   ,   0.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 80.   , 100.   ,   1.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 73.   ,  98.   ,   1.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 34.   , 101.   ,   0.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 60.   , 103.   ,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 69.   ,  98.   ,   0.   ,   0.   ,   0.   ,   1.   ,   1.   ],
       [ 69.   , 102.   ,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 34.   , 104.   ,   0.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 20.   , 101.   ,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 47.   , 101.   ,   1.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 82.   , 102.   ,   0.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 13.   , 100.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 20.   , 102.   ,   1.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 19.   , 100.   ,   0.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [  5.   , 102.   ,   1.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 65.   ,  99.   ,   1.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [  5.   ,  98.   ,   0.   ,   0.   ,   0.   ,   1.   ,   1.   ],
       [ 23.   ,  98.   ,   1.   ,   0.   ,   0.   ,   1.   ,   1.   ],
       [ 64.   , 101.   ,   0.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 51.   , 101.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 42.   , 104.   ,   1.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 44.   , 104.   ,   1.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 72.   ,  99.   ,   1.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 14.   ,  99.   ,   0.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 38.   , 101.   ,   0.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 51.   , 104.   ,   1.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 24.   , 102.   ,   0.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 34.   , 100.625,   0.   ,   0.   ,   0.   ,   1.   ,   1.   ],
       [ 10.   , 100.   ,   1.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 69.   , 103.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 11.   , 100.   ,   1.   ,   0.   ,   0.   ,   0.   ,   0.   ],
       [ 75.   , 104.   ,   0.   ,   1.   ,   0.   ,   0.   ,   1.   ],
       [ 60.   ,  99.   ,   0.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 70.   , 103.   ,   1.   ,   0.   ,   1.   ,   0.   ,   1.   ],
       [ 38.   , 100.625,   1.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [  8.   , 101.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 42.   , 101.   ,   1.   ,   1.   ,   0.   ,   0.   ,   0.   ],
       [ 14.   , 101.   ,   1.   ,   0.   ,   0.   ,   0.   ,   1.   ],
       [ 74.   , 102.   ,   1.   ,   0.   ,   0.   ,   1.   ,   0.   ],
       [ 83.   , 101.   ,   0.   ,   0.   ,   1.   ,   0.   ,   0.   ],
       [ 11.   , 100.   ,   0.   ,   0.   ,   1.   ,   0.   ,   1.   ]])

MENTOS ZINDAGI

In [102]:
from sklearn.compose import ColumnTransformer

In [103]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough') # we can use drop instead of passthrough to drop a column if not needed

In [104]:
transformer.fit_transform(x_train).shape

C:\Users\Atharva\ANACONDAS\envs\myenv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [106]:
transformer.transform(x_test).shape

(20, 7)