In [1]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv('customer.csv')

In [39]:
df.sample(5)

    age  gender   review education purchased
48   39  Female     Good        UG       Yes
15   75    Male     Poor        UG        No
14   15    Male     Poor        PG       Yes
30   73    Male  Average        UG        No
45   61    Male     Poor        PG       Yes

In [40]:
df['education'].value_counts(), df['review'].value_counts()

(education
 PG        18
 School    16
 UG        16
 Name: count, dtype: int64,
 review
 Poor       18
 Good       18
 Average    14
 Name: count, dtype: int64)

In [41]:
df = df.iloc[:,2:]
df.sample(5)

     review education purchased
6      Good    School        No
30  Average        UG        No
11     Good        UG       Yes
27     Poor        PG        No
41     Good        PG       Yes

In [42]:
from sklearn.model_selection import train_test_split
x = df.iloc[:,:2]
y = df.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [43]:
y_reshape=y.values.reshape(-1,1)

In [44]:
# y_reshape

In [45]:
y_frame = pd.DataFrame(y_reshape, columns=[['purchased']])
# y_frame

In [46]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [48]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [49]:
x_train = oe.transform(x_train) 
x_test = oe.transform(x_test)

In [50]:
x_test

array([[1., 2.],
       [0., 1.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [2., 2.],
       [1., 0.],
       [0., 0.]])

In [51]:
x_train = pd.DataFrame(x_train, columns=x.columns, dtype=np.int32)
x_test = pd.DataFrame(x_test, columns=x.columns, dtype=np.int32)

In [52]:
x_test.head()

   review  education
0       1          2
1       0          1
2       2          0
3       0          2
4       0          2

In [53]:
x_train.head()

   review  education
0       0          1
1       0          2
2       0          2
3       2          2
4       2          0

In [54]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

Label Encoding

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
le = LabelEncoder()

In [60]:
# y_train.info()

In [61]:
le.fit(y_train)

LabelEncoder()

In [62]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [63]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [24]:
y_train

array([1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0])

In [34]:
y_frame = pd.DataFrame(y_train, columns=[['purchased']])

In [37]:
y_frame.head()

  purchased
0         1
1         1
2         1
3         0
4         1